<!doctype html>  
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		
		<title>3 mois avec AngularJS</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Paqman et Jérôme WAX">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="icon" type="image/x-icon" href="imgs/js.ico" />
		
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<script>
			// If the query includes 'print-pdf' we'll use the PDF print sheet
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>
	
	<body>
		
		<div class="reveal">

			<!-- Used to fade in a background when a specific slide state is reached -->
			<div class="state-background"></div>
			
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>retour d'experience sur<br/> <img src="imgs/AngularJS-large.png" style="border: 0px"></h1>
					
				</section>
				
				<section>
					<section>
						<h1>Lexique</h1>
						<table>
							<tr>
								<td>JS</td><td>JavaScript</td>
							</tr>
							<tr>
								<td>DOM</td><td>Document Object Model presents presents an HTML document as a tree-structure.</td>
							</tr>
							<tr>
								<td>CSS</td><td>Cascading StyleSheet</td>
							</td>
							<tr>
								<td>AJAX</td><td>Asynchrnous Javascript And [Xml]</td>
							</td>
							<tr>
								<td>JSON</td><td>JavaScript Object Notation</td>
							</td>
							<tr>
								<td>NodeJS</td><td>Serveur web en javascript</td>
							</td>
							<tr>
								<td>NPM</td><td>NodeJS Package Manager</td>
							</td>
						</table>
					</section>
					
				</section>
				
				<section>
						<h1>AngularJS c'est quoi ?</h1>
						<ul>
							<li class="fragment">Un framework JS !</li>
							<li class="fragment">modèle MVC</li>
							<li class="fragment">Model de données dans les 2 sens</li>
							<li class="fragment">Permet d'étendre le DOM</li>
							<li class="fragment">Injection de dépendance</li>
							<li class="fragment">Non intrusif (ne rentre pas en conflit avec d'autre framework)</li>
							<li class="fragment">GOOGLE !</li>
						</ul>
				</section>
				
				<section>
					<section>
						<h1>Contexte</h1>
					</section>
					<section>
						<h2>Pourquoi avoir démarrer notre aventure avec AngularJS ?</h2>
						<ul>
							<li class="fragment">Recherche d'un framework JS evolué</li>
							<li class="fragment">Grosse communauté et tutorial prometteur</li>
							<li class="fragment">That's all...</li>
						</ul>
					</section>
					<section>
						<h2>Qu'avons nous fait avec AngularJS ?</h2>
						<ul>
							<li class="fragment">POC pour la raiffeisen</li>
							<li class="fragment">Deployment-manager</li>
							<li class="fragment">Un tetris en réseau !</li>
							<li class="fragment">Un site de mariage !</li>
						</ul>
					</section>
					<section>
						<h2>Deployment-manager ?</h2>
						<ul>
							<li class="fragment">Un ouil qui permet de voir le status d'un parc de machine en "live"</li>
							<li class="fragment">Possibilité de deployer une appli web en un click</li>
							<li class="fragment">Autocomplétion de recherche sur un nexus</li>
							<li class="fragment">Inventaire des machines en live</li>
							<li class="fragment"><span>Visualisation des logs, </span>
												<span class="fragment">edit in place, </span>
												<span class="fragment">notifications desktop, </span>
												<span class="fragment">... </span>
												</li>
						</ul>
					</section>
					
				</section>
				
	
				<section>
					<section>
						<h1>AngularJS basics !</h1>
					</section>
				<!-- Part I  explication des principes de base  MP + JW -->
				<section>
					<h2>Principes</h2>
					<ul>
						<li>HTML + Javascript (+ CSS)</li>
						<li>Basé sur MVC</li>
						<li style="list-style : none;">
							<ul>
								<li>Model : $scope, la glue de votre application</li>
								<li>Vue : partielle HTML</li>
								<li>Controller : fonction JS</li>
							</ul>
						</li>
						<li>Philosophie</li>
						<blockquote>
							"Write less code, go have beer sooner."
						</blockquote>
					</ul>
				</section>
				
				<!-- Model 2 way binding -->
				<section>
					<h2>2 way binding</h2>
					<p>Prenons une variable user.name</p>
					<ul>
						<li style="margin-top : 1em;">
							Modification dans la vue (via input)
						</li>
						<li style="list-style : none;">
							<ul>
								<li>Modification dans le model</li>
							</ul>
							<br />
							<pre class="html"><code>ng-model="query"</code></pre>
						</li>
						<li style="margin-top : 1em;">
							Modification du model (depuis controller)
						</li>
						<li style="list-style : none;">
							<ul>
								<li>IU automatiquement à jour</li>
							</ul>
						</li>
					</ul>
				</section>
				
				<!-- Methodes dedies -->
				<section>
					<h2>Méthodes indispensables</h2>
					<ul style="margin-top : 1em;">
						<li style="width : 115%">
							ng-click &rArr; invoque une méthode de votre contrôleur lors du clique
						</li>
						<li style="width : 115%">
							ng-class &rArr; applique la classe si expression
							<pre class="html"><code> &lt;li ng-class="{ active : compte == compteCourant }"&gt;</code></pre>
						</li>		
						<li style="width : 115%">
							ng-model &rArr; bind un élément de la vue sur le model
						</li>
						<li style="width : 115%">
							ng-repeat &rArr; foreach d'angularjs
							<pre class="html"><code>&lt;li ng-repeat="element in liste"&gt;</code></pre>
						</li>
						<li style="width : 115%">
							ng-show &rArr; affiche l'élément si expression
							<pre class="html"><code>&lt;li ng-show="compte != undefined"&gt;</code></pre>
						</li>
					</ul>
				</section>
				
				<!-- Directives -->
				<section>
					<h2>Directives</h2>
					<p>Extension du DOM</p>
					<ul>
						<li>
							Créer vos tags HTML
						</li>
						<li>
							Utiliser vos propres paramètres
						</li>
					</ul>
					<pre class="html"><code>&lt;cotation value="CGI" /&gt;</code></pre>
					<ul>
						<li>
							Affiche la cotation boursière
						</li>
						<li>
							Automatiquement mis à jour
						</li>
					</ul>
					<p style="padding-left : 1em;margin-top : 1em;">&rArr; Transclude : réutilisation du code déclaré dans vos balises</p>
				</section>
				
				<!-- Filter -->
				<section>
					<h2>Filtres</h2>
					<p>Fonction de conversion de valeur</p>
					<ul style="margin-top : 1em;">
						<li style="width : 115%">
							Formater une valeur<br />
							<pre class="html"><code>{{ user.birthday | date:"dd'/'MM'/'yyyy" }}</code></pre>
						</li>
						<li style="width : 115%">
							Filtrer une liste<br />
							<pre class="html"><code>{{ products | filter:query }}</code></pre>
						</li>		
						<li style="width : 115%">
							Trier une liste<br />
							<pre class="html"><code>{{ products | filter:query | orderBy:price }}</code></pre>
						</li>
					</ul>
					<p style="margin-top : 1em;">Implémentez vos filtres</p>
				</section>
				
				<!-- controller -->
				<!-- model 2 way binding -->
				<!-- extension du dom, directives (exemple minimaliste) -->
				<!-- exemple (filtre) -->
				<!-- injection de dépendance (exemple minimaliste) -->
				
				<!-- misc, bus event,... -->
				</section>
				
				<section>
				<!-- Part II inconvénients JW -->
				<!-- organisation du code, gros projets, require.js -->
					<section>
						<h1>Les inconvénients et lacunes d'AngularJS</h1>
					</section>
					<section>
						<h2>Aucune recommandation d'organisation pour de gros projets</h2>
						<img height="120" src="http://theartorder.com/wp-content/uploads/2013/01/strategy.jpg"/>
						<p>Quelle stratégie adopter ? </p>
						<ul>
							<li class="fragment">Tout dans un fichier !</li>
							<li class="fragment">Un fichier par type (controlleurs, filtres, directives)</li>
							<li class="fragment">Un dossier par type</li>
						</ul>
					</section>
					<section>
						<h2>Aucune recommandation d'organisation pour de gros projets</h2>
						<p>Comment organiser et charger un gros projet ?</p>
						<ul>
							<li class="fragment">require.js</li>
							<li class="fragment">tasks grunt</li>
							<li class="fragment">wro4j ?</li>
						</ul>
					</section>
					<section>
						<h2>Aucune recommandation d'organisation pour de gros projets</h2>
						<p> Un exemple d'utilisation avec require.js
						</p>
						<pre class="javascript"><code>require(['MyApp','Angular','jQuery','app/controllers'], function(App) {
	App.initialize();
}</code></pre>
					</section>
										<section>
						<h2>Aucune recommandation d'organisation pour de gros projets</h2>
						<p> Un exemple d'utilisation avec require.js
						</p>
						<pre class="javascript"><code>var deps = ['Console', 
            'Angular',
            'AngularExtra'];
 
var __main__controllers = ['adminuser',
                           'group',
                        ... (25 elts)
                           'stage',
                           'stageedit'];
 
//add dependencies
for (var i = 0; i < __main__controllers.length; i++) {
  deps.push('app/controllers/'+__main__controllers[i]);
}
 
 
define(deps, function (Console) {
	Console.info("controllers loaded", __main__controllers);
});</code></pre>
					</section>
					<section>
						<h2>Aucune recommandation d'organisation pour de gros projets</h2>
						<p>L'utilisation de require.js demande de creuser la documentation d'AngularJS</p>
						<p>Les metadonnées du HTML ne peuvent être utilisé (chargement asynchrone), il faut donc utiliser angular.bootstrap <span class="fragment">(qui n'a rien avoir avec bootstrap twitter)</span></p>
					</section>
					

					
					<section>
						<!-- complexité du build propre des JS, uglify, dependance node.js/npm (grunt) -->
						<h2>Comment intégrer un projet AngularJS dans un build de production</h2>
						<p class="">Le projet ne peut rester éclaté dans 30 fichiers JS (pour des raisons de performances), il doit être minifié et donc obfusqué pour gagner en taille.</p>
						<p class="fragment">La plupart des outils de build JS dependent de node.js. NPM peut rapidement devenir un cauchemar sur un réseau fermé</p>
					</section>
					
					<section>
						<!-- obfuscation -->
						<h2>Minification problem</h2>
						<pre class=""><code class="javascript">
app.controller('ProductCtrl', function($scope) {
// do stuff 
$scope.var = ["hello"];
});</code></pre>
						<p class="fragment">Résultat ...</p>
										
					<pre class="fragment"><code class="javascript">app.controller("ProductCtrl",function(a){a.var=["hello"]});</code></pre>
					<p class="fragment">Solution...</p>
					<pre class="fragment"><code class="javascript">
app.controller('ProductCtrl', ['$scope', function($scope) {
// do stuff
}]);</code></pre>
</section>
				
				<!-- rebond de scope -->
				<!-- Performance a long terme => une modification mineure entraine un check de toutes les proprietes par angularjs -->
					<section>
						<h2>Infinite update</h2>
						<p>Plusieurs watchers modifient un même objet du scope a chaque update.</p>
						<p>Plusieurs objets se réferençant se modifient mutuellement à chaque update.</p>
						
						<pre class="fragment"><code class="html">
&lt;input type="text" ng-model="timestamp" ng-change="version++"/&gt;
&lt;input type="text" ng-model="version" ng-change="timestamp = new Date()"/&gt;
						</code></pre>
						
					</section>
					
				
					<section>
						<h2>Directives scope nightmare</h2>
						<pre><code class="javascript">scope: {
  title: '@',             // the title uses the data-binding from the parent scope
  onOk: '&',              // create a delegate onOk function
  onCancel: '&',          // create a delegate onCancel function
  visible: '='            // set up visible to accept data-binding
}						</code></pre>
						
					</section>
					
					<section>
						<h2>Héritage de scope</h2>
	<p>L'héritage des propriétés et des méthodes ne se font pas de la même manière</p>
	<pre class=""><code class="html">
&lt;div ng-controller="FirstCtrl"&gt;
	&lt;div ng-controller="SecondCtrl"&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

	<p>
	<pre class="fragment"><code class="javascript">
//dans le contexte du scope de SecondCtrl
$parent.firstCtrlVar; //on doit utiliser le mot clé "$parent" pour accéder à la propriété du scope de FirstCtrl
firstMethodCall();    //la méthode est heritée du scope de FirstCtrl

</code></pre>

<pre class="fragment"><code class="javascript">
$parent.$parent.$parent.maVar
</code></pre>


					</section>
				</section>
				
				
				<!-- Part III avantages MP -->
				<!-- faible bande passante -->
				<section>
					<section>
						<h1>Les avantages</h1>
					</section>
					<section>
						<h2>Légèretée</h2>
						<p>Angularjs, sans optimisation à outrance, permet de consommer un minimum de bande passante</p>
						<ul>
							<li style="margin-bottom : 1em;">Système de template par défaut<br />
								&rArr; la balise ng-view définit où sont intégrées les vues</li>
							<li style="margin-bottom : 1em;">Chargement de vues partielles</li>
							<li>Données brutes chargées en asynchrone<br />
								&rArr; JSON est le mieux intégré, XML possible</li>
						</ul>
					</section>
					<section>
						<h2>2 ways binding</h2>
						<table style="border:none;">
							<tr><td>Element dans ma vue</td><td>&hArr;</td><td>Controller</td></tr>
							<tr><td>ng-model pour un formulaire</td><td></td><td>Action backoffice</td></tr>
							<tr><td>{elt.nom} d'une liste</td><td></td><td>Traitement d'une pop-up</td></tr>
							<tr><td></td><td>&dArr;</td><td></td></tr>
							<tr><td></td><td>Mise à jour des éléments</td><td></td></tr>
						</table>
					</section>
					<section>
						<h2>Productivité</h2>
						<ol>
							<li>Contrôleur / Appel de service</li>
							<li>Contrôleur / Affectation du résultat</li>
							<li>Vue / ng-repeat sur la liste</li>
							<li>Vue / Ajout des éléments de navigation : filtre, tri...</li>
						</ol>
						<p>On ajoute une pop-up de modification ? La liste est mise à jour en même temps.</p>
					</section>
					
					<section>
						<h2>Productivité</h2>
						<p>Un <a href="examples/1.html">petit exemple</a> d'édition d'une liste avec un formulaire</p>
						<p class="fragment">Un <a href="examples/2.html">petit exemple</a> d'édition d'une liste aveec un formulaire ET validation</p>
					</section>
					
					<section>
						<h2>Réactivité</h2>
						<p>En combinant les quelques contrôles vus précédemments, on peut très rapidement obtenir des écrans vivants; sans avoir besoin de contrôler chaque intéraction comme on le ferait avec jQuery</p>
						<pre><code class="html">&lt;li ng-repeat="compte in comptes" ng-click="clickOnCompte(compte)" ng-class="{active : compte == selection}" &gt;
    {{ compte.libelle }}
  &lt;/li&gt;
&lt;div ng-show="selection != undefined"&gt;
{{ selection.devise }} {{ selection.solde | number:2 }}
&lt;/div&gt;</code></pre>
						<pre><code class="javascript">function clickOnCompte(compte) {
	$scope.selection = compte;
}</code></pre>
					</section>
					<!-- 2 ways bindings, watcher, observable !! ->
					<!-- productivité + petit exemple -->
					
					
					
					
					
					<!-- tout en 1 (contrairement a backbone) -->
					<!-- Consommation des ressources du client  (creation de la page chez lui sur son browser)-->	
					<!-- Exemple d'architecture associee -->
					
					
				</section>
				
				
				
				
				<!-- Part IV maintenabilité JW + MP -->
				<section>
					<section>
						<h1>Maintenabilité</h1>
					</section>
				
				
				<!-- optimisation JS (grunt) -->
								
				
				<!-- batarang -->
					<section>
						<h2>Batarang</h2>
						<p>Plugin Google Chrome pour debugguer des applis AngularJS</p>
						<img height="320" src="http://www.poeghostal.com/wp-content/uploads/2012/11/play-arts-kai-batman-arkham-asylum-batarang.jpg"/>
					</section>
					
					<section>
						<h2>Batarang</h2>
						<img height="520" src="imgs/batarang.png"/>
					</section>
					<section>
						<h2>Batarang</h2>
						<img height="520" src="imgs/batarang2.png"/>
					</section>
					<section>
						<h2>Batarang</h2>
						<img height="520" src="imgs/batarang3.png"/>
					</section>
					<section>
						<h2>Batarang</h2>
						<img height="520" src="imgs/batarang4.png"/>
					</section>
				
				<!-- testing -->
				</section>
				
				
				<!-- Part l'après angular ? JW -->
				<section>
					<section>
						<h1>Après angularJS ?</h1>
						<h2>What's next ? </h2>
					</section>
					<section>
						<!-- polymer -->
						<h2>Combler les lacunes des directives</h2>
						<p>Polymer is a new type of library for the web, built on top of Web Components, and designed to leverage the evolving web platform on modern browsers.</p>
						<p><a href="http://www.polymer-project.org/getting-started.html">http://www.polymer-project.org/getting-started.html</a></p>
						<pre><code class="html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;!-- 1. Shim missing platform features --&gt;
    &lt;script src="polymer-all/platform/platform.js"&gt;&lt;/script&gt;
    &lt;!-- 2. Load a component --&gt;
    &lt;link rel="import" href="x-foo.html"&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;!-- 3. Declare the component by its tag. --&gt;
    &lt;x-foo&gt;&lt;/x-foo&gt;
  &lt;/body&gt;
&lt;/html&gt;				</code></pre>
					</section>
					
					<section>
						<!-- angular.dart -->
						<h2>Angular.dart is coming</h2>
						
						<p>Portage d'AngularJS en dart !</p>
						<ul>
							<li>Portage en parallèle d'Angular avec le langage dart</li>
							<li class="fragment">Typage des paramètres</li>
							<li class="fragment">Et tout les avantages de dart... (système de build, obfuscation, ...)</li>
						<ul>
						
					</section>
					
				</section>
				
				
				<section>
					<p>Présentation réalisée en HTML avec <span class="inline-code">reveal.js</span>, versionnée avec <span class="inline-code">git</span>.<p>
					<p>Les exemples utilisent <span class="inline-code">twitter bootstrap</span>.</p>
				</section>
				
				<section>
					<h2>Une petite partie ?</h2>
					<ul>
						<li><a href="http://net.lo2k.net:3000">NodeTetrinet</a></li>
					</ul>
				</section>
					
		</div>	

			<!-- The navigational controls UI -->
			<aside class="controls">
				<a class="left" href="#">&#x25C4;</a>
				<a class="right" href="#">&#x25BA;</a>
				<a class="up" href="#">&#x25B2;</a>
				<a class="down" href="#">&#x25BC;</a>
			</aside>

			<!-- Presentation progress bar -->
			<div class="progress"><span></span></div>
			
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>
			
			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				
				theme: Reveal.getQueryHash().theme || 'default', // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/linear(2d)

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/highlight.js', async: true, callback: function() { window.hljs.initHighlightingOnLoad(); } },
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'lib/js/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'lib/js/data-markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '/socket.io/socket.io.js', async: true, condition: function() { return window.location.host === 'localhost:1947'; } },
					{ src: 'plugin/speakernotes/client.js', async: true, condition: function() { return window.location.host === 'localhost:1947'; } },
				]
			});
			
		</script>

	</body>
</html>
